
.Chat__Title {
    text-align: center;
    margin: 20px 0px;
}

.Chat__form {
    display: flex;
    justify-content: center;
}

.Chat__form input, textarea, button {
    display: block;
}

.Chat__form input {
    margin: 0 auto;
    padding: 10px;
    outline: none;
    width: 300px;
    text-align: center;
    font-family: nunito;
}

.Chat__form button {
    margin: 0 auto;
    padding: 10px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-family: nunito;
}

.Chat__form textarea {
    resize: none;
    width: 500px;
    padding: 10px;
    outline: none;
    height: 200px;
    font-family: nunito;
}

.Chat__AvatarBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Chat__AvatarBlock img {
    border-radius: 100%;
    position: absolute;
    left: 0;
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.Chat__form p {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

